#NavBar {
  z-index: 98;
  top: 0;
  display: relative;
  position:fixed;
  color: black;
  background-blend-mode: difference;
  mix-blend-mode: difference;
  width: 100%;
  overflow: hidden;
  max-height: 100px;
  nav {
    width: 100%;
    height: 100px;
    text-align: center;
    /*border-bottom: 2px black solid;*/
    // overflow: hidden;
    // color: rgb(0, 255, 255);
    // background-blend-mode: difference;
    // #navlogo {
    //   width: 40%;
    //   max-height: 95%;
    //   margin-top: 5px;
    //   color: green;
    //   mix-blend-mode: difference;
    //   z-index: 0;
    //   fill: green;
    //   path {
    //     fill: blue;
    //   }
    // }
    #leftNav {
      position: fixed;
      width: 28%;
      top: 10px;
      left: 30px;
      height: 100px;
    }
    #rightNav {
      position: fixed;
      top: 15px;
      right: 30px;
      width: 28%;
      height: 100px;
    }
    li {
      list-style: none;
      max-height: 75px;
      font-family: 'Inconsolata', monospace;
      // font-size-adjust: 1;
      max-width: 49%;
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 30px;
      float: left;
      border-bottom: solid black 1px;
      font-weight: normal;
      a {
        color: white;
      }
      a:link {
        color: white;
        text-decoration: none;
        text-decoration-color: black;

      }
      a:hover {
        // font-weight:bolder;
      }
    }
  }
  .navGlitch {
    position: relative;
  }
  .navGlitch::before,
  .navGlitch::after {
    content: attr(data-text);
    position: absolute;
    font-weight: normal;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .navGlitch::before {
    left: 2px;
    text-shadow: -1px 0 red;
    background: none;
  }
  .navGlitch::after {
    left: -2px;
    text-shadow: -2px 0 blue;
    background: none;
  }
  .navGlitch::before {
    clip: rect(44px, 450px, 56px, 0);
  }
  @keyframes glitch-anim-1 {
    $steps: 10;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        clip: rect(random(100)+px, 9999px, random(100)+px, 0);
      }
    }
  }
  @keyframes glitch-anim-2 {
    $steps: 10;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        clip: rect(random(100)+px, 9999px, random(100)+px, 0);
      }
    }
  }
  .navGlitch::before {
    animation: glitch-anim-1 2s infinite linear alternate-reverse;
  }
  .navGlitch::after {
    animation: glitch-anim-2 2s infinite linear alternate-reverse;
  }
}
