#FoldThree {
  border-bottom: 3px solid blue;
  border-top: 3px solid blue;
  height: 1000px;
  width: 100%;
  display: block;
  transform: skewY(6deg);
  background: gray;
  z-index: -5;
  .content {
    position: absolute;
    // border: 3px solid white;
    width: 95%;
    height: 86%;
    margin: 6% 2.5% 0 2.5%;
    color: black;
    font-family: 'Inconsolata', monospace;
    transform: skewY(-6deg);
    h3 {
      text-decoration: underline;
      font-size: 150%;
    }
  }
}
