#FoldTwo {
  margin-top: 550px;
  border-bottom: 3px solid red;
  height: 1000px;
  width: 100%;
  display: block;
  transform: skewY(4deg);
  background: black;
  z-index: -5;
}
// #TopFold:after {
//
// }
