
@keyframes fadeOut {
    0% {opacity: 1;}
    99% {opacity: 0;}
    100% {visibility:hidden;}
}
.Loader {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: white;
}
.gone {
  animation: fadeOut 2s linear forwards;
}
#logoArea {
  max-width: 80%;
  /*border: 1px dashed black;*/
  margin: 40% auto 0 auto;
  overflow:hidden;
}
#SVGlogo {
  width:100%;
}
#name {
  fill: white;
  stroke-dasharray: 13000;
  stroke-dashoffset: 13000;
  /*animation-delay: 2000;*/
}
#under {
  fill: white;
  stroke-dasharray: 1100;
  stroke-dashoffset: 1100;
  /*animation-delay: 4000;*/
}
#works {
  fill: white;
  stroke-dasharray: 14100;
  stroke-dashoffset: 14100;
  /*animation-delay: 10000;*/
}
@keyframes offset {
  to { stroke-dashoffset: 0; }
}
#name, #under, #works {
  animation: offset 4s linear forwards;
}
